/* ==========================================================================
   BASE
   ========================================================================== */

html {
  font-size: 18px !important;
}

body {
  font-size: 1em;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,hgroup,ul,ol,dd,p,figure,pre,table,fieldset,hr {
  margin-bottom: 27px;
  margin-bottom: 1.5rem; 
}