// =============================================================================
// Base defaults
// =============================================================================

// Core font-size.
//
// @type number
// @const
$bt-coreFontSize: 18;

// Core base-line.
//
// @type number
// @const
$bt-coreBaseLine: 27;

// =============================================================================
// Headings font-sizes
// =============================================================================

// Alpha font-size.
//
// @type number
// @const
$bt-alphaFontSize: 76;

// Beta font-size.
//
// @type number
// @const
$bt-betaFontSize: 47;

// Gamma font-size.
//
// @type number
// @const
$bt-gammaFontSize: 42;

// Delta font-size.
//
// @type number
// @const
$bt-deltaFontSize: 29;

// Epsilon font-size.
//
// @type number
// @const
$bt-epsilonFontSize: 26;

// Zeta font-size.
//
// @type number
// @const
$bt-zetaFontSize: 18;

// Giga font-size.
//
// @type number
// @const
$bt-gigaFontSize: 123;

// Mega font-size.
//
// @type number
// @const
$bt-megaFontSize: 110;

// Small font-size.
//
// @type number
// @const
$bt-smallFontSize: 16;

// Micro font-size.
//
// @type number
// @const
$bt-microFontSize: 11;


