/* line 17, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_type.scss */
html {
  font: 18px/1.618 "Avenir Next", "Helvetica Neue", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 12, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure, pre, table, fieldset, hr {
  margin-bottom: 29px;
  margin-bottom: 1.618rem;
}

/* line 17, ../sass/_type.scss */
h1, .alpha {
  font-size: 76px;
  font-size: 4.236rem;
  line-height: 1;
  color: #5498d5;
}

/* line 24, ../sass/_type.scss */
h2, .beta {
  font-size: 47px;
  font-size: 2.618rem;
  line-height: 1.149;
}

/* line 30, ../sass/_type.scss */
h3, .gamma {
  font-size: 42px;
  font-size: 2.335rem;
  line-height: 1.286;
}

/* line 36, ../sass/_type.scss */
h4, .delta {
  font-size: 29px;
  font-size: 1.618rem;
  line-height: 0.931;
}

/* line 42, ../sass/_type.scss */
h5, .epsilon {
  font-size: 26px;
  font-size: 1.443rem;
  line-height: 1.039;
}

/* line 58, ../sass/_type.scss */
.bt-light {
  font-weight: lighter;
  font-weight: 200;
}

/* line 63, ../sass/_type.scss */
.bt-bold {
  font-weight: bold;
  font-weight: 600;
}

/* line 68, ../sass/_type.scss */
.bt-heavy {
  font-weight: bolder;
  font-weight: 700;
}

/* line 73, ../sass/_type.scss */
.bt-black {
  font-weight: bolder;
  font-weight: 900;
}

/* line 78, ../sass/_type.scss */
.bt-italic {
  font-style: italic;
}

/* line 82, ../sass/_type.scss */
.bt-uppercase {
  text-transform: uppercase;
}

/* line 10, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../sass/main.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 20, ../sass/main.scss */
body {
  color: #4a4b4c;
}

/* line 24, ../sass/main.scss */
.row {
  max-width: 63.33333em;
  margin-left: auto;
  margin-right: auto;
}

/* line 30, ../sass/main.scss */
.main {
  background: transparent;
}

/* line 34, ../sass/main.scss */
.baseline {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* line 45, ../sass/main.scss */
.baseline.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 27, color-stop(96.2963%, transparent), color-stop(100%, rgba(49, 127, 197, 0.25)));
  background-image: -webkit-linear-gradient(transparent 26px, rgba(49, 127, 197, 0.25) 27px);
  background-image: -moz-linear-gradient(transparent 26px, rgba(49, 127, 197, 0.25) 27px);
  background-image: -o-linear-gradient(transparent 26px, rgba(49, 127, 197, 0.25) 27px);
  background-image: linear-gradient(transparent 26px, rgba(49, 127, 197, 0.25) 27px);
  background-size: 100% 1.5em;
  display: block;
}

/* line 54, ../sass/main.scss */
header {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  height: 4.236rem;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  -webkit-transition: background 222ms;
  -moz-transition: background 222ms;
  -o-transition: background 222ms;
  transition: background 222ms;
}
/* line 63, ../sass/main.scss */
header h1 {
  margin: 0;
  text-align: center;
}
/* line 67, ../sass/main.scss */
header:hover {
  background: rgba(255, 255, 255, 0.45);
}
/* line 70, ../sass/main.scss */
header:hover .logo {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

/* line 76, ../sass/main.scss */
.logo {
  margin: .5rem auto 0;
  -webkit-transition: -webkit-transform 333ms;
  -moz-transition: -moz-transform 333ms;
  -o-transition: -o-transform 333ms;
  transition: transform 333ms;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.77, 1.35);
  -moz-transition-timing-function: cubic-bezier(0.17, 0.67, 0.77, 1.35);
  -o-transition-timing-function: cubic-bezier(0.17, 0.67, 0.77, 1.35);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.77, 1.35);
  background-repeat: no-repeat;
  display: block;
  text-indent: -999em;
  background-image: url('/img/1x-s6cb54d4367.png');
  background-position: 0 0;
  height: 63px;
  width: 58px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  /* line 76, ../sass/main.scss */
  .logo {
    background-image: url('/img/2x-s9674315887.png');
    background-position: 0 0;
    height: 63px;
    width: 58px;
    -webkit-background-size: 58px auto;
    -moz-background-size: 58px auto;
    -o-background-size: 58px auto;
    background-size: 58px auto;
  }
}

/* line 83, ../sass/main.scss */
.bt-marquee {
  width: 100%;
  height: 29.03rem;
  margin-bottom: 1.5rem;
  background: url("/img/mod-scale@2x.png") no-repeat 50% 50%;
  background-size: cover;
}

/* line 91, ../sass/main.scss */
.grid-ui {
  position: relative;
  float: right;
  top: 10px;
  right: 30px;
  z-index: 999;
}

/* line 99, ../sass/main.scss */
.bt-button {
  text-decoration: none;
  border: 1px solid #317fc5;
  background: #fff;
  color: #317fc5;
  font-weight: 600;
  font-size: 0.8em;
  border-radius: 5px;
  padding: 1.22em 1.8em;
  line-height: 1;
  text-align: center;
  display: inline-block;
}
/* line 112, ../sass/main.scss */
.bt-button:hover {
  background: #4c93d3;
  color: #fff;
}

/* line 118, ../sass/main.scss */
.bt-grid {
  width: 100%;
  font-size: 0;
  text-align: center;
  margin-bottom: 3rem;
}
/* line 124, ../sass/main.scss */
.bt-grid.one-up {
  font-size: 1rem;
}
/* line 127, ../sass/main.scss */
.bt-grid.one-up > * {
  width: 100%;
}
/* line 133, ../sass/main.scss */
.bt-grid.two-up > * {
  margin-right: 2%;
  font-size: 16px;
  width: 49%;
}
/* line 138, ../sass/main.scss */
.bt-grid.two-up > *:last-child {
  margin-right: 0;
}

/* line 148, ../sass/main.scss */
.container {
  width: 610px;
  margin: 0 auto;
  padding-bottom: 42px;
}

/* line 155, ../sass/main.scss */
.uppercase {
  text-transform: uppercase;
}

/* Better styles for embedding GitHub Gists */
/* line 160, ../sass/main.scss */
.gist {
  font-size: 0.892em;
  margin-bottom: 32px;
  width: 100%;
}
/* line 165, ../sass/main.scss */
.gist .gist-file {
  border: none !important;
}
/* line 167, ../sass/main.scss */
.gist .gist-file .gist-data {
  border-bottom: none !important;
}
/* line 170, ../sass/main.scss */
.gist .gist-file .gist-syntax {
  background: #30353d !important;
}
/* line 172, ../sass/main.scss */
.gist .gist-file .gist-syntax .line-numbers {
  background: #25292f !important;
  padding: 1rem !important;
  border: none !important;
}
/* line 177, ../sass/main.scss */
.gist .gist-file .gist-syntax .nt {
  color: #84d6ed;
}
/* line 180, ../sass/main.scss */
.gist .gist-file .gist-syntax .na {
  color: #fff4d3;
}
/* line 183, ../sass/main.scss */
.gist .gist-file .gist-syntax .mf, .gist .gist-file .gist-syntax .mi {
  color: #00ffbe;
}
/* line 186, ../sass/main.scss */
.gist .gist-file .gist-syntax .kt {
  color: #099;
}
/* line 189, ../sass/main.scss */
.gist .gist-file .gist-syntax .p {
  color: #fff;
}
/* line 192, ../sass/main.scss */
.gist .gist-file .gist-syntax .nc {
  color: #317fc5;
}

/* line 198, ../sass/main.scss */
.gist pre {
  font-family: Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important;
}

/* line 199, ../sass/main.scss */
.gist-meta {
  display: none;
}

/* line 201, ../sass/main.scss */
code {
  font-size: 0.892em;
  font-family: "Menlo", monospace;
  background: #efefef;
  padding: 2px 2px 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 0 1px #d5d5d5;
  -moz-box-shadow: inset 0 0 0 1px #d5d5d5;
  box-shadow: inset 0 0 0 1px #d5d5d5;
}

/* line 214, ../sass/main.scss */
.small {
  font-size: 16px;
}
